/* src/app/pages/public/course/course.component.scss */
:host {
    // display: block;
    // padding: 2rem 0;
    // display: flex;
    // flex-direction: column;
    // min-height: 100vh;
  }
  
  .aspect-video {
    aspect-ratio: 16 / 9;
  }
  
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .course-grid {
    display: grid;
    gap: 1.5rem;
  }
  
  @media (min-width: 768px) {
    .course-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .course-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  