body {
    background-color: #1e293b;
    color: #e5e7eb;
  }
  
  h1 {
    color: #facc15;
  }
  
  input,
  select {
    &:focus {
      outline: none;
    }
  }
  
  button {
    &:disabled {
      background-color: #a3a3a3;
      cursor: not-allowed;
    }
  }
  